.siteHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  position: sticky;
  top: 0;
  background: #1A1A1A;
  -webkit-backdrop-filter: blur(7px);
  backdrop-filter: blur(7px);
  z-index: 9;
  margin-left: auto;
  margin-right: auto;
  height: 70px;

  a {
    text-decoration: none;
    color: #6E85BC;
    font-size: 1.1rem;
    margin-top: 0;
  }

  nav a {
    color: #D8D8D8;
    transition: color 0.2s ease;
    text-decoration: none;
    display: inline-block;
    position: relative;
    font-size: 16px;
    text-transform: lowercase;

    &:hover {
      color: #6E85BC;
    }

    strong {
      margin: 1px;
      color: #6E85BC;
      font-size: 0.8rem;
    }
  }

  .activeNav {
    color: #6E85BC;
  }

  .siteLogo {
    line-height: 1;
    margin: 0;

    a, a.activeNav {
      color: #EE9B52;
      display: block;
      text-transform: lowercase;
    }

    img {
      max-width: 150px;
      margin: 0;
    }
  }
}

.main-nav {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: auto;
  overflow: -moz-scrollbars-none;
  scrollbar-width: none;
  -ms-overflow-style: none !important;

  &::-webkit-scrollbar {
    width: 0 !important;
  }

  li {
    font-size: 1.3rem;
    margin-bottom: 0;

    &+li {
      margin-left: 1.5rem;
    }
  }
}

@media (max-width: 768px) {
  .siteHeader {
    display: block;
    height: 100px;
    text-align: center;
    padding: 10px 20px;

    strong {
      display: none;
    }

    .siteLogo {
      margin-bottom: 5px;
    }
  }

  .main-nav {
    li {
      &+li {
        margin-left: 0.7rem;
      }
    }

    a {
      font-size: 0.8rem;
      border: 1px solid #EE9B52;
      padding: 2px 5px;
      border-radius: 5px;
    }
  }
}
