.article-list {
    display: grid;
    grid-template-columns: 100%;

    p {
        color: #D8D8D8;
    }
}

.article-box {
    margin-bottom: 30px;
    display: inline-block;
    width: auto;
    transition: all 0.25s ease;

    &:hover {
        cursor: pointer;
    }

    .post-block {
        padding: 15px;
        color: #3c4856;
        margin-top: -20px;
    }

    .post-title {
        color: #EE9B52;
        font-size: 1.2rem;
        transition: color 0.2s ease;
    }

    .meta {
        color: #EFA8F0;
        margin-top: -15px;
        margin-bottom: 20px;
        font-size: 0.8rem;
    }
}